.Main{
  width: 100%;
  display: flex;
  flex-direction: column
;

  
}

.Header {
  width: 100%;
  height: 50px;
  background-color:#0B1320;
  color:white;
  position: fixed;
  display: flex;
  justify-content: center;
  
}

.Header-holder {
  width: 75%;
  background-color:#0B1320;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

.Logo {
  width: 110px;
}

.Navigationbar {
  width: 600px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;

}

.Babeholder{
  height: 550px;
  width: 100%;
  background-color: #9275BA;
  display: flex;
  align-items: center;
  justify-content: center
  
}

.Babewrapper{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  
  
}

.babe {
  height: 510px;
  margin-top: 40px;
}

.left {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
}

.Bigtext1 {
  font-weight: 100px;
  font-size: 80px;
  color: #0B1320;

}

.Bigtext2{
  font-weight: 100px;
  font-size: 80px;
  margin-top: -80px;
  color: #0B1320;
}

.smalltextset {
  width: 95%;
  margin-top: -60px;
}

.Smalltext {
  font-size:22px;
  color: #0B1320;
}

.buttons{
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.butn1 {
  height: 50px;
  width: 190px;
  font-weight: bold;
  font-size: 16px;
  color: wheat;
  background-color: #0B1320;
  border: transparent;
  border-radius: 10px;
  
}

.butn2 {
  height: 50px;
  width: 190px;
  font-weight: bold;
  font-size: 16px;
  color:#0B1320;
  background-color: transparent;
  border-color: #0B1320;
  border-radius: 10px;
}

.butn1:hover {
  background-color: #9275BA;
  color: #0B1320;
}

.butn2:hover {
  background-color: #0B1320;
  color: white;
}

.phase2 {
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.couple {
  height: 600px;
  margin: 70px;
}

.phase2contents {
  margin:70px;
  
}

.phase2fonts {
  font-weight: bold;
  font-size: 31pt;
  text-align: left;
}

.clickbuttons1 {
  width: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  
}
 
.btn1 {
  height: 70px;
  width: 300px;
  background-color: whitesmoke; opacity: 50%;
  border-color: transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16pt;
  color: black;

}
.btn2 {
  height: 70px;
  width: 300px;
  background-color: whitesmoke; opacity: 50%;
  border-color: transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16pt;
  color: black;


}

.clickbuttons2 {
  width: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  
}
 
.btn3 {
  height: 70px;
  width: 300px;
  background-color: whitesmoke; opacity: 50%;
  border-color: transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16pt;
  color: black;

}
.btn4 {
  height: 70px;
  width: 300px;
  background-color: whitesmoke; opacity: 50%;
  border-color: transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16pt;
  color: black;
}
.clickbuttons3 {
  width: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  
}
 
.btn5 {
  height: 70px;
  width: 300px;
  background-color: whitesmoke; opacity: 50%;
  border-color: transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16pt;
  color: black;

}
.btn6 {
  height: 70px;
  width: 300px;
  background-color: whitesmoke; opacity: 50%;
  border-color: transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16pt;
  color: black;
}

.phase3holder1 {
  background-color:#0B1320;
  width:100%;
  height: 1030px;
  

}
.phase3bigtext {
  margin-top: 100px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
}
.phase3smalltext1 {
  color: whitesmoke;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}

.phase3smalltext2 {
  color: whitesmoke;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}

.phase3sub {
  height: 275px;
  width: 85%;
  margin: 100px;
  display: flex;
  justify-content: space-between;
}
.sub1 {
  margin: 10px;
  width: 470px;
  height: 260px;
  
  
}
.yellowimage {
  height:90px;
  width: 90px;
}
.p1 {
  font-size: 17pt;
  font-weight: bold;
  color: white;
}
.p2 {
  font-size: 13pt;
  font-weight: bold;
  color: white;
}
.p3 {
  font-size: 13pt;
  font-weight: bold;
  color: red;
}

.sub2 {
  margin: 10px;
  width: 470px;
  height: 260px;
 
  
}
.dollarsign {
  height:90px;
  width: 90px;
}
.p4 {
  font-size: 17pt;
  font-weight: bold;
  color: white;
}
.p5 {
  font-size: 13pt;
  font-weight: bold;
  color: white;
}
.p6 {
  font-size: 13pt;
  font-weight: bold;
  color: red;
}

.phase3subB {
  height: 310px;
  width: 85%;
  margin: 100px;
  display: flex;
  justify-content: space-between;
}
.subB1 {
  height: 280px;
  width:470px;
  margin: 10px;
}
.subB2 {
  height: 280px;
  width: 470px;
  margin: 10px;
}
.purplelogo {
  height:90px;
  width: 90px;
}
.p7 {
  font-size: 17pt;
  font-weight: bold;
  color: white;
  
}
.p8 {
  font-size: 13pt;
  font-weight: bold;
  color: white;
}
.p9 {
  font-size: 13pt;
  font-weight: bold;
  color: red;
}
.speedometerlogo {
  height: 90px;
  width: 90px;
}
.p10 {
  font-size: 17pt;
  font-weight: bold;
  color:white
}
.p11 {
  font-size: 13pt;
  font-weight: bold;
  color:white
}
.p12 {
  font-size: 13pt;
  font-weight: bold;
  color:red;
}
.phase4 {
  display: flex;
  justify-content: center;
  align-items: center;

}
.phase4text {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  width: 100%;
  height:200px;
}
.phase4bigtext{
  font-size: 30pt;
  font-weight: bold;
  color: #0B1320;
}
.phase4smalltext {
  font-size: 13pt;
  color: #0B1320;
  margin-top: -30px;
}
.partnercompanies {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}
.customerlogos {
  width: 85%;
  height: 340px;
}
.phase5 {
  width: 100%;
  height: 500px;
  background-color:whitesmoke;
  
}
.phase5bigtext {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 20pt;
  color: #0B1320;
}
.phase5smalltext {
  color:#0B1320;
  text-align: center;
  font-size: 18pt;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  font-style: italic;
}
.phase5mediumtext {
  font-weight: bold;
  margin-top: 50px;
}
.phase6 {
  width: 100%;
  height: 800px;
  color: #0B1320;
  
}
.phase6bigtext {
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
  font-size: 30pt;
  width: 100%;
  height: 180px;
}
.phase6textcontainer {
  width: 100%;
  height: 200px;
}
.phase6imageholder {
  display: flex;
  justify-content: space-around;
}
.culture {
  height: 450px;
  width: 350px;
  
}
.cultureimage {
  height: 250px;
  width: 295px;
}
.culturebigtext {
  font-weight: bold;
  font-size: 20pt;
}
.culturesmalltext {
  font-size: 15pt;
}
.diversity {
  height: 450px;
  width: 350px;
}
.diversityimage {
  height: 250px;
  width: 295px;

}
.diversitybigtext {
  font-weight: bold;
  font-size: 20pt;
}
.diversitysmalltext {
  font-size: 15pt;
}
.experience {
  height: 450px;
  width: 350px;

}
.experienceimage {
  height: 250px;
  width: 290px;
}
.experiencebigtext {
  font-weight: bold;
  font-size: 20pt;
}
.experiencesmalltext {
  font-size: 15pt;
}
.team {
  height: 450px;
  width: 345px;

}
.teamimage {
  height: 250px;
  width: 290px;
}
.teambigtext {
  font-weight: bold;
  font-size: 20pt;
}
.teamsmalltext {
  font-size: 15pt;
}
.phase6button {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.phase6btn {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: #0B1320;
  color: white;
  font-weight: bold;
  
}
.phase6btn:hover {
  background-color: transparent;
  color:#0B1320;
  border-color: #0B1320;

}
.phase7 {
  width: 100%;
  height: 400px;
  background-color: #0B1320;
  color:white;
  
 
}
.phase7bigtext {
  font-size: 40pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 150px;
}
.phase7smalltext {
  font-size: 17pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.phase7button {
  height: 100px;
  width: 100%;
  background-color:#0B1320;
  display: flex;
  justify-content: center;
  
}
.phase7btn {
  height: 50px;
  width: 200px;
  margin-top:  -20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
  color: #0B1320;
  font-weight: bold;
  font-size: 13pt;
  border-color: transparent;

}
.phase7btn:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}
.phase8 {
  height:500px;
  width: 100%;
  background-color: whitesmoke;
  color: #0B1320;
  
}
.phase8holder {
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 480px;
  margin: 10px;
}
.freshwk {
  height: 300px;
  width: 200px;
  margin: 10px;
}
.endinglogo {
  height: 200px;
  width: 100px;
  margin-top: -80px;
  margin-left: 15px;
}
.listleft {
  margin-top: -90px;

}
.company {
  height: 400px;
  width: 200px;
  margin: 10px;
  
}
.bigcompanytext {
  font-weight: bold;
  margin-left: 17px;
  margin-top: -1px;

}
.companylist {
  margin-top: -10px;
  list-style: none;
  margin-left: -20px;
}
.connect {
  height: 200px;
  width: 300px;
  background-color: aqua;
  margin: 10px;
  
}
.bigconnecttext {
  font-weight: bold;
  margin-top: -6px;
}
.phase9 {
  height: 70px;
  width: 100%;
  background-color: silver;
  display: flex;
  justify-content: space-between;
  
}
.footerleft {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}
.footerright {
  margin-right: 100px;
}